.header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);

  @media (max-width: 898px) {
    border-bottom: 2px solid lightgray;
  }

  .header__left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    > img {
      height: 50px;
    }

    .header__input {
      display: flex;
      background-color: #eff2f5;
      padding: 10px;
      margin-left: 10px;
      border-radius: 999px;

      @media (max-width: 1045px) {
        max-width: 180px;
      }

      > input {
        border: none;
        background-color: transparent;
        outline-width: 0;

        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
  .menu__icon {
    display: flex;
    align-items: center;
    flex: auto;
    margin-left: 20px;
    display: none;
  }

  .header__right {
    display: flex;

    .header__info {
      display: flex;
      align-items: center;

      @media (max-width: 1045px) {
        display: none;
      }

      > h4 {
        margin-left: 10px;
      }
    }
  }
}
.header__center {
  display: flex;
  flex: 1;
  justify-content: center;

  @media (max-width: 898px) {
    display: none;
  }
}
.header__option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;

  @media (max-width: 898px) {
    padding: 0;
  }

  > .MuiSvgIcon-root {
    color: gray;

    &:hover {
      color: #2e81f4;
    }
  }

  &:hover {
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
  }
}
.home__active {
  border-bottom: 4px solid #2e81f4;

  > .MuiSvgIcon-root {
    color: #2e81f4;
  }
}
.header2 {
  padding: 15px 20px;
  display: none;
  justify-content: space-around;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgb(0 0 0 / 75%);

  @media (max-width: 898px) {
    display: flex;
  }
}
